body {
    /* background-color: wheat; */
    background-image: url(./Images-Anais/foret.jpeg);
    background-size: cover;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: inline-block;
}

.tabs .active a {
    color: red;
}

/* Mise en page */
.image404 {
    width: 1300px;
    height: 600px;
}

body {
    font-family: sans-serif;
    padding: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

ul,
il {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs li {
    display: inline;
}

.tabs a {
    display: inline-block;
    background-color: rgb(236, 230, 230);
    box-shadow: 0 1px 3px black, 0 1px 3px grey;
    padding: 10px 15px;
}

a {
    text-decoration: none;
    color: black;
}

.tabs .active a {
    background-color: white;
}

.tabs-content {
    display: none;
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: white;
    width: 900px;
    height: 550px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    font-family: 20px;
    color: grey;
    text-align: center;
    border-radius: 25px;
}

h1 {
    font-size: 35px;
}

/* agence de voyage */
.driver,
.travel,
.collation,
.hotel1,
.etiquette,
.bleu,
.rose,
.autre,
.barbecue,
.terre,
.etiquette2,
.cadavre,
.driver1 {
    margin: 10px 0 0 0;
    display: none;
    width: 250px;
    height: 250px;
    background-size: cover;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}


/* valises  */

.valise {
    background-image: url(./Ched/Valise-fermee.jpg);
    margin: 20px 0 0 0;
    width: 450px;
    height: 350px;
    background-size: cover;
}

.valise:hover {
    background-image: url(./Images-Anais/valise.jpeg);
    margin: 20px 0 0 0;
    width: 450px;
    height: 400px;
    background-size: cover;
}

.image,
.imageHotel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    font-family: 20px;
    margin: 60px 0 0 0;
    width: 900px;
    height: 350px;
}

.covid {
    position: absolute;
    top: 160px;
    left: 80px;
    width: 100px;
    height: 150px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

#covidAutre {
    background-color: thistle;
}

.bleu1 {
    color: blue;
}

.blanc1 {
    color: white;
}

.rouge1 {
    color: red;
}

.etiquette {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 250px;
    height: 150px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}


.francis {
    position: absolute;
    top: 160px;
    left: 100px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.van {
    display: none;
    position: absolute;
    top: 150px;
    left: 80px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}


/* Questions */
.question {
    font-size: 15px;
    position: absolute;
    top: 150px;
    right: 120px;
    width: 300px;
    height: 150px;
}

.first {
    text-align: center;
    background-color: black;
    color: white;
    width: 400px;
    height: 20px;
}

/*  Carte les Ardennes */

.ardennes {
    position: absolute;
    display: none;
    top: 300px;
    right: 130px;
    width: 200px;
    height: 150px;
    background-size: cover;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.mairie {
    position: absolute;
    top: 500px;
    right: 80px;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.algo {
    position: absolute;
    top: 100px;
    right: 80px;
}

button {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.hotel{
    position: relative;
    top: 10px;
    width: 600px;
    height: 300px;
}