/* Variables declaration*/
:root {
    --main-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* body */
body {
    margin: 0;
}

.NY {
    position: absolute;
    width: 100%;
    height: 300px;
}

.nav {
    display: inline-block;
    background-color: #0c5d56;
    width: 400px;
    height: 50px;
    z-index: 2;
    margin: 100px 0 0 0;
}

.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 300px;
}

li {
    display: inline;


}

a {
    list-style: none;
    padding: 0 10px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

.roues1{
    display: inline;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
}


h1{
    text-align: center;
    font-size: 40px;
}


#anais{
    margin: 0 92px;
}


