/* Variables declaration*/
:root {
    --main-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* body */
body {
    margin: 0;
}

.NY {
    position: absolute;
    width: 100%;
    height: 300px;
}

.nav {
    display: inline-block;
    background-color: var(--main-color);
    width: 400px;
    height: 50px;
    z-index: 2;
    margin: 100px 0 0 0;

}

.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 300px;
}

li {
    display: inline;


}

a {
    list-style: none;
    padding: 0 10px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

.pensee {
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: var(--main-color);
    margin: 0;
    padding: 40px 0;
    border-bottom: black solid 15px;
}

/* Fisrt section "Last Articles" */
.trip {
    opacity: 0.2;
    font-size: 30px;
    text-align: center;
    border-bottom: black solid 15px;
}

.lastArticle {
    /* background: linear-gradient(white, rgb(148, 147, 147)); */
    margin: 0;
    background-size: cover;
    font-size: 30px;
    text-align: center;
    border-bottom: black solid 15px;
    height: 800px;
}

.lastArticles, .titleTravel {
    text-align: center;
    margin: 0;
    padding: 50px;
    font-size: 50px;
}

p {
    font-size: 12px;
    padding: 0 15px;
}

/* Footer */
.footertitle,
titleTravel {
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
}

.footColor {
    color: white;
    background-color: #0c5d56;
    width: 100%;
    height: 400px;
}

.partage {
    display: flex;
    justify-content: space-around;
}

.partagez {
    font-size: 40px;
    width: 500px;
    height: 500px;
    text-align: center;
}

h4 {
    margin: 0;
}

.contact {
    width: 400px;
    height: 500px;
}

#name {
    color: black;
}

.cont {
    margin: 20px 0 0 0;
}

.contactUs1 {
    margin-bottom: 40px;
}

.cards {
    margin: 50px 0 0 0;
    background: linear-gradient(white, rgb(224, 215, 215));
    width: 280px;
    height: 5OO0px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    font-family: 20px;
    color: grey;
    text-align: center;
    border-radius: 25px;

}


.cards .imgMadere {
    width: 250px;
    height: auto;
    box-shadow: 0 30px 30px -30px black;
    padding: 20px 0 0 0;
}



.imgMadere:hover {
    width: 280px;
    height: auto;
    box-shadow: 0 30px 30px -30px black;
    opacity: 1;
}

.flexCard {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

.titleImage {
    width: 280px;
    height: 434px;
    padding: 13px 0;
}

.mont {
    width: 100%;
    height: 300px;
    opacity: 0.3;
}

.date {
    color: var(--main-color);
    font-size: 25px;
    margin: 30px 0 0 0;
}

@media screen and (max-width: 1225px) {
    .flexCard {
        height: 1450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .lastArticle {
        height: 1800px;
    }
}

@media screen and (max-width: 979px) {
    .footColor {
        height: 900px;
    }

    .partage {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .partagez {
        width: 800px;
        height: auto;
    }

    .footertitle {
        margin: 0 30px;
    }
}

/* travel */
.travel {
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.savoie {
    margin: 50px 0 0 0;
    background: linear-gradient(white, rgb(224, 215, 215));
    width: 280px;
    height: 5OO0px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    font-family: 20px;
    color: grey;
    text-align: center;
}

.savoieImg {
    width: 280px;
    height: auto;
    margin: 20px 0 30px;
}

.travelP {
    font-size: 15px;
    margin: 40px 0 0 0;
}

span {
    color: rgb(124, 76, 76);
    padding: 0 10px;
}

.repas{
    border-radius: 50%;
}
